version: "3.9"

services:
  nginx:
    image: nginx:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    depends_on:
      - web
    networks:
      - backend

  web:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: gunicorn robot_management.asgi:application -k uvicorn.workers.UvicornWorker -b 0.0.0.0:8000 -w 4
    volumes:
      - .:/app   # 코드 변경 시 바로 반영
      - logs_volume:/app/logs
      - static_volume:/app/static
    expose:
      - "8000"
    networks:
      - backend

volumes:
  logs_volume:
  static_volume:

networks:
  backend:
    driver: bridge